body{
			font-family:Arial;
}
.container{
		display:grid;
	/*	grid-template: 300px 150px 100px / repeat(4,minmax(200px,1fr));*/
		grid-template-rows: repeat(4,1fr);
		grid-template-columns: repeat(3,1fr);
		
		grid-gap: 30px 30px;
}
.item{
	background: lightblue;
	padding: 10px;
	border: 1px solid red;
/*	margin-right: 10px;
	margin-bottom: 10px;*/
}
.item:nth-of-type(1){
	background:  lightblue;
	 overflow: auto;

/*	display: grid;
	grid-template: 80px 80px 100px / 35% 150px 20%;*/
	grid-column-start: 1;
	grid-column-end: 3;
}
.item:nth-of-type(8){
	background:  lightblue;
	 overflow: auto;

	grid-column:1 /span 3;
}
/*.item .item{
	background: yellow;
}*/